@font-face {
    font-family: 'Lemon Milk';
    src: url('../..//public/assets/fonts/Lemon_Milk/LemonMilkRegular-X3XE2.otf') format('opentype');
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
            // url('/static/fonts/lato/Lato-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: 500;
    font-style: normal;
}

// @font-face {
//     font-family: 'Lato';
//     src: url('/public/assets/fonts/Lato/Lato-Regular.ttf') format('woff'),
//         /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
//             url('/static/fonts/lato/Lato-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
//     font-weight: 500;
//     font-style: normal;
//     font-display: fallback;
// }

// @font-face {
//     font-family: 'Lato';
//     src: url('/public/assets/fonts/Open_Sans/static/OpenSans/OpenSans-Light.ttf') format('woff'),
//         /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
//             url('/static/fonts/lato/Lato-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
//     font-weight: 500;
//     font-style: normal;
//     font-display: fallback;
// }
