.navbar {
    padding: 0.5em 1em;
    
    .linkContainer {
        
        a {
            color: white;
            // color: black !important;
            text-shadow: none;
        }

        .navbar-brand {
            cursor: pointer;
            height: 1.4em;
        }
        
        div {
            display: inline-block !important;

            a {
                font-size: 1em !important;
            }
        }
    }
}
