.pageContainer {
    color: black;

    .projectContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        h3 {
            color: white;
        }

        .projectWidget {
            height: 30vh;
            width: 30vw;
            border: none;
        }
    }
}
