@import "./includes/typography.scss";
@import "./includes/variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lemon Milk", sans-serif;
}

body {
  background-image: url("../public/assets/images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// .container-fluid {
//   position: relative;
//   height: 100vh;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   color: #fff;
// }

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

@media screen and (max-width: 768px) {
  .container {
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

h1 {
  color: white;
  text-shadow: 1px 1px #000000;
}

a {
  text-decoration: none;
  margin: 0.5rem;
  text-shadow: 1px 1px #000000;
}

a:hover {
  text-decoration: underline;
}

// h1,
// a,
// p {
// background: inherit;
// background-clip: text;
// -webkit-background-clip: text;
// color: transparent;
// filter: invert(1) grayscale(1);
// -webkit-filter: invert(1) grayscale(1);
// }
