@import "./includes/typography.scss";
@import "./includes/variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lemon Milk", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  background-image: url("../public/assets/images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .container {
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

h1 {
  color: white;
  text-shadow: 1px 1px #000000;
}

a {
  text-decoration: none;
  margin: 0.5rem;
  text-shadow: 1px 1px #000000;
}

a:hover {
  text-decoration: underline;
}
